force-app/main/default/flows/SC_WidgetInputScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_checkValueApexCall</name>
        <label>checkValueApexCall</label>
        <locationX>318</locationX>
        <locationY>198</locationY>
        <actionName>CS_WidgetIsValueProperlyNested</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CS_IsAdminOrWidgetMasterandProperlyNested</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>valueList</name>
            <value>
                <elementReference>CS_ValueInputScreen</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Check if title condition is true</description>
        <name>CS_IsAdminOrWidgetMasterandProperlyNested</name>
        <label>Is Admin Or WidgetMaster or  other And ProperlyNested?</label>
        <locationX>442</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Not_Properly_Nested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CS_AdminOrWMasterOrOtherAndProperlyNested</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SC_ItsAdminOrWMaster</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_checkValueApexCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_NewWidgetRecord</targetReference>
            </connector>
            <label>Admin or WMaster Or other And ProperlyNester</label>
        </rules>
    </decisions>
    <formulas>
        <description>CurrentUserProfile</description>
        <name>CS_UserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>SC_ItsAdminOrWMaster</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    OR(
       {!CS_UserProfile}= &apos;System Administrator&apos;
        ,{!CS_UserProfile} = &apos;Widget Masters&apos;
        ,{!CS_UserProfile} = &apos;Administrador del sistema&apos;
    )
    , true
    , false
)</expression>
    </formulas>
    <interviewLabel>SC_WidgetInputScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>WidgetInputScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new Widget Record</description>
        <name>CS_NewWidgetRecord</name>
        <label>NewWidgetRecord</label>
        <locationX>720</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>CS_RecordInsetedSucces</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Value__c</field>
            <value>
                <elementReference>CS_InputWidgetValue</elementReference>
            </value>
        </inputAssignments>
        <object>Widget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>CS_RecordInsetedSucces</name>
        <label>CS_RecordInsetedSucces</label>
        <locationX>719</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SC_successScreenCycloneSolutionLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>CycloneSolutionsLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Cyclone Solution Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_SuccesScreenText</name>
            <fieldText>&lt;p&gt;Widget has been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Properly_Nested</name>
        <label>Not Properly Nested</label>
        <locationX>296</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_NewWidgetScreen</targetReference>
        </connector>
        <fields>
            <name>SC_BadNestedScreenLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>CycloneSolutionsLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Cyclone Solution Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CS_NotProperlyNesteTitletext</name>
            <fieldText>&lt;p&gt;The &lt;b&gt;brackets&lt;/b&gt; on the Widget &lt;b&gt;Value &lt;/b&gt;you insert are not properly balanced&lt;b&gt; &lt;/b&gt;please  click next to try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Properly Nested Examples: {()} [], {[()]}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>screenToCreate new Widgets</description>
        <name>SC_NewWidgetScreen</name>
        <label>SC_NewWidgetScreen</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CS_checkValueApexCall</targetReference>
        </connector>
        <fields>
            <name>CS_CycloneSolutionLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>CycloneSolutionsLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>CycloneSolutionsLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CS_inputScreenTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Insert Widget Value:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CS_ValueInputScreen</name>
            <fieldText>Value:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_NewWidgetScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Inserted text by the user in Widget Value Field</description>
        <name>CS_InputWidgetValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CS_ValueInputScreen</elementReference>
        </value>
    </variables>
    <variables>
        <description>Recive Responce Form Apex Method FlowCheckValue to se if value is properly nested</description>
        <name>CS_IsProperlyNestedList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>List to send Values to be evaluate with Apex Method CheckValue</description>
        <name>CS_ValueList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
